*{
	margin: 0px;
	padding: 0;
	
}
body{
	font-family: 'Comic Neue', cursive;
	background-color: #d1f5d3;
}

.container{
	margin: 30px 15px;
	display: flex;
	justify-content: space-around;
}
img{
	height: 70%;
	margin: 10px 0px;
	border-radius: 10px;

}
h3{
	margin-left: 50px;
}
h2{
	margin-right: 200px;
	margin: 10px;
}
.p-btn{
	text-transform: uppercase;
	padding: 8px 15px;
	cursor: pointer;
	background-color: #687466;
	color: white;
	
}
.file{
	width: 43%;
	font-size: 14px;

}
.u_det{
	font-size: 30px;
	
	line-height: 40px;
	color: blue;
	
}
.u_info{
	font-size: 25px;
	line-height: 40px;
	color: green;
}


.operation{
	margin-top: 20px;
}
.u_btn{
	margin:15px;
	padding: 10px;
	background-color: #58b4ae;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-decoration: none;
	color: #f2ed6f;
}

.u_btn:hover{
	background-color: #f2ed6f;
	color: #58b4ae;
	text-decoration: underline;
}